<div class="section pt-4 px-3 px-lg-4" id="about">
    <div class="container-narrow">
        <div class="row">
            <div class="col-md-5 offset-md-1" data-aos="fade-left" data-aos-delay="100"><img
                    class="avatar img-fluid mt-2" src="~/Site/images/avatar.jpg" width="400" height="400"
                    alt="Walter Patterson"/></div>
            <div class="col-md-6 text-end justify-content-end">
                <h2 class="h4 my-2">سلام من نیما حاجی مزدارانی هستم</h2>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیاداستفاده قرار گیرد.</p>
                <div class="row mt-3">
                    <div class="col-sm-2">
                        <div class="pb-1 fw-bolder">28</div>
                    </div>
                    <div class="col-sm-10">
                        <div class="pb-1">: سن</div>
                    </div>

                    <div class="col-sm-2">
                        <div class="pb-1 fw-bolder">nimahaji1395@gmail.com</div>
                    </div>
                    <div class="col-sm-10">
                        <div class="pb-1">: ایمیل</div>
                    </div>

                    <div class="col-sm-2">
                        <div class="pb-1 fw-bolder">+989926265125</div>
                    </div>
                    <div class="col-sm-10">
                        <div class="pb-1">: شماره</div>
                    </div>

                    <div class="col-sm-2">
                        <div class="pb-1 fw-bolder">28</div>
                    </div>
                    <div class="col-sm-10">
                        <div class="pb-1">: سن</div>
                    </div>

                    <div class="col-sm-2">
                        <div class="pb-1 fw-bolder">مازندران ، قائمشهر</div>
                    </div>
                    <div class="col-sm-10">
                        <div class="pb-1">: آدرس</div>
                    </div>

                    <div class="col-sm-2">
                        <div class="pb-1 fw-bolder">آماده استخدام</div>
                    </div>
                    <div class="col-sm-10">
                        <div class="pb-1">: وضعیت</div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

