@{
    ViewData["Title"] = "Home Page";
}
<partial name="_Header"/>
<div class="page-content">
    <div id="content">
        <partial name="_Header_Body"/>
        <partial name="_About"/>
        <partial name="_Services"/>
        <partial name="_Skils"/>
        <partial name="_Portfolio"/>
        <partial name="_Exprience"/>
        <partial name="_Testimonials"/>
        <partial name="_Contact"/>
        <partial name="_Footer"/>
    </div>
</div>
<div id="scrolltop"><a class="btn btn-secondary" href="#top"><span class="icon"><i
                class="fas fa-angle-up fa-x"></i></span></a></div>
<partial name="_ScriptRefrences"/>

