<!DOCTYPE html>
<html lang="en-US">
<head>
    <partial name="_MetaTags"/>
    <title>@ViewData["Title"]</title>
    <partial name="_Refrences"/>
    <partial name="_Noscript"/>
</head>
<body id="top" style="font-family: IranSans">
@RenderBody()
</body>
</html>